nette:
    session:
        autoStart: yes
        expiration: 14 days

    container:
        debugger: TRUE

    application:
        catchExceptions: FALSE

extensions:
    gettextLatteExtension: h4kuna\Gettext\DI\GettextLatteExtension

gettextLatteExtension:
    langs:
        cs: cs_CZ.utf8
        en: en_US.utf8
        # sk: sk_SK.utf8
    # default is cs and en

    dictionaryPath: %appDir%/locale

    session: FALSE
    #default is ON