services:
    translator:
        class: \h4kuna\GettextLatte(%wwwDir%/../locale/, %langs%)
        setup:
            - setSection(@sessionSection('translator')) # optional, enable automatic language detection

factories:
    nette.latte:
        factory: \h4kuna\GettextLatte::latte

parameters:
    langs: {'cs' : 'cs_CZ.utf8', 'en' : 'en_US.utf8'} # , 'de' : 'de_DE.utf8', 'it' : 'it_IT.utf8'